.center-div{
    text-align:center;
    display:table-cell;
    vertical-align: middle;
}

.form-holder{
    position: relative;
    border-radius: 2em;
    padding: 50px;
    top: -400px;

    animation: drop 1.0s ease forwards;
}

.form-stage{
    position: relative;
    border-radius: 2em;
    padding: 50px;
    top: -400px;

    animation: drop 1.0s ease forwards;
}

@keyframes drop{
    0%{opacity: 0;}
    70%{transform: translateY(450px);}
    100%{transform: translateY(400px); opacity: 1;}
}

.btn-circle{
    border-radius: 100%;
}

/*
.progress-step{
    background-color: lawngreen;
    position: absolute;
    border-radius: 1em;
    width: 35px;
    height: 35px;    
}
.progress-step::before{
    content: "";
    background-color: white;
    position: absolute;
    border-radius: 1em;
    width: 30px;
    height: 30px;
    transform: translateX(-15px) translateY(2.4px);
}
*/

.btn-circle{
    border-radius: 100%;
}

.animator{
    animation: next 1.0s ease forwards;
}

.animator2{
    animation: next2 1.0s ease forwards;
}
.animator3{
    animation: next3 1.0s ease forwards;
}
.animator4{
    animation: next4 1.0s ease forwards;
}
.animator5{
    animation: next5 1.0s ease forwards;
}

@keyframes next{
    0%{width: 10%;}
    25%{width: 20%;}
    50%{width: 30%;}
    75%{width: 40%;}
    100%{width: 50%;}
}

@keyframes next2{
    0%{width: 60%;}
    25%{width: 70%;}
    50%{width: 80%;}
    75%{width: 90%;}
    100%{width: 100%;}
}
@keyframes next3{
    0%{width: 60%;}
    25%{width: 70%;}
    50%{width: 80%;}
    75%{width: 90%;}
    100%{width: 100%;}
}
@keyframes next4{
    0%{width: 55%;}
    25%{width: 60%;}
    50%{width: 65%;}
    75%{width: 70%;}
    100%{width: 75%;}
}
@keyframes next5{
    0%{width: 80%;}
    25%{width: 85%;}
    50%{width: 90%;}
    75%{width: 95%;}
    100%{width: 100%;}
}