<div class="title-block jumbotron shadow-sm">
  <div>
    <div class="container" style = "padding-right: 100px;">
      <h1 class="mb-4">Society ammendments</h1>
      <p class="h5 text-muted">
        Societies grow and change all the time. It is the duty of the one responsible to make sure that those changes, reflect on government records
        <span class="text-dark font-weight-bold">Here </span> is a place where you can make sure that all your attributes and features,
        from constitutions to attendence size can be changed.

        <br />
        Learn more about it below.<br />
        For any queries please contact us at: {{siteTelephone}}
      </p>

    </div>

    <img src="https://firebasestorage.googleapis.com/v0/b/societies-and-security-hack.appspot.com/o/Societies%20Website%20Assets%2FAmmendment%202.png?alt=media&token=65d7680a-b824-4fda-858d-a69c117b3e9c"
         width="250px" />

  </div>
</div>

<div class="container">
  <h2 class="font-weight-bold">Process Outline</h2>
  <p class="font-weight-bold">The society registration process is divided into two stages:</p>
  <ol>
    <li>Application for Name Authorisation</li>
    <li>Application for Registration</li>
  </ol>

  <h3 class="font-weight-bold">1. Stage One</h3>

  <div class="bg-success title-badge mt-4 mb-4">
    <h4 class="text-light">Application for Name Authorisation</h4>
  </div>

  <p>At this stage you will apply for a name for your society. We will check if your desired name is available and valid and reserve it for you until you either finish stage 2 or 90 days ellapse.</p>
  <p>The list of requirements for this stage are provided below when you are ready to proceed click <button class="btn btn-success text-light ml-3">Get Started</button></p>

  <div class="jumbotron">
    <h4>Requirements for all organizations</h4>
    <ul>
      <li>Letter of intention to register a society (PDF format)</li>
      <li>Minutes of meeting of formation of the society (PDF Format)</li>
      <li>
        Attendance Register (with full names, identity numbers, contact numbers and
        signatures) (PDF format)
      </li>
      <li>List of 10 proposed Names for the society</li>
      <li>List of Three or more Objectives</li>
      <li>Authorization from parent organization (where applicable) (PDF Format)</li>
      <li>Certified copy of constitution of parent organization (where applicable) (PDF format)</li>
    </ul>
  </div>

  <div class="jumbotron">
    <h4>Additional documents for Religious Organizations</h4>

    <ul>
      <li>Theology certificate from an accredited institute (PDF format)</li>
      <li>Ordination certificate for the church Spiritual Leader (PDF Format)</li>
      <li>Release letter from the Spiritual Leader ‘s former Church (PDF format)</li>
    </ul>
  </div>

  <button class="btn btn-success text-light" href="loggedIn()?'/myapplications'||'/login'">Get Started</button>

  <h3 class="font-weight-bold mt-3">2. Stage Two</h3>

  <div class="bg-success title-badge mt-4 mb-4">
    <h4 class="text-light">Application for Registration</h4>
  </div>

  <p>At this stage you complete the registration process. We will assess your entire application and send you your <span class="font-weight-bold">certificate of registration</span>.</p>
  <p>
    The list of requirements for this stage are provided below. <span class="font-weight-bold">Once stage 1 reaches completion you will be able to start stage 2</span>
    <button class="btn btn-success text-light ml-3" href="loggedIn()?'/myapplications'||'/login'" disabled="true">Get Started</button>
  </p>

  <div class="jumbotron">
    <h4>Requirements for all organizations</h4>
    <ul>
      <li>Proposed Constitution, submitted in triplicate (PDF format)</li>
      <li>Form A, submitted in triplicate (PDF Format)</li>
      <li>Membership List (PDF format)</li>
      <li>Application fee of P500.00</li>
    </ul>
  </div>

  <h2 class="font-weight-bold">Societies</h2>


</div>
