<body>
  <section id="hero" class="d-flex align-items-center shadow mb-5">
    <div class="container">
      <h1 class="mb-2">Welcome to the <span>Ministry of Nationality, Immigration and Gender Affairs Online Portal</span></h1>
      <h2 class="text-dark">Society related services now digitized</h2>
    </div>
  </section>

  <h1 class="text-center mb-4">Register, Ammend and Assure your Societies Compliance</h1>

  <div class="mb-5" style="margin-left: 10%; margin-right: 10%;">
    <p>The Ministry of Nationality, Immigration and Gender Affairs</p>
    <p>You can use these services with the links provided below:</p>  
  </div>

  <div class="text-center">
    <div class="bg-primary title-badge mb-3" style="margin-left: 30%; margin-right: 30%;">
      <h4 class="text-light">Services</h4>
    </div>
    
    <h2>Our <span class="text-primary">Services</span></h2>
    <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
  </div>

<section id="featured-services" class="featured-services" style="margin-left: 5%; margin-right: 5%;">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="icon-box aos-init aos-animate mb-3" style="height: 500px;" data-aos="fade-up" data-aos-delay="100">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Equus_quagga_burchellii_-_Etosha%2C_2014.jpg/1200px-Equus_quagga_burchellii_-_Etosha%2C_2014.jpg"
          alt="zebra"
          class="mb-3"
          style="width: 100%;">
          <h4 class="title">National service</h4>
          <p class="description mb-3">Let us help you. No more Lines! Go Online!</p>
          <button class="btn btn-outline-success mr-1">Learn More</button>
          <button class="btn btn-outline-success">Join Us</button>
        </div>
      </div>
      <div class="col">
        <div class="icon-box aos-init aos-animate mb-3" style="height: 500px;" data-aos="fade-up" data-aos-delay="200">
          <img src="http://www.peoplemanagement.co.uk/Images/workplace-intern_tcm27-85992.jpg"
          alt="intern"
          class="mb-3"
          style="width: 100%;"
          >
          <h4 class="title">Internships</h4>
          <p class="description mb-3">Get the experience you need to get industry ready</p>
          <button class="btn btn-outline-success mr-1">Learn More</button>
          <button class="btn btn-outline-success">Join Us</button>
        </div>        
      </div>
      <div class="col">
        <div class="icon-box aos-init aos-animate mb-3" style="height: 500px;" data-aos="fade-up" data-aos-delay="300">
          <img src="https://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2019/8/12/0/Original_Habitat-for-Humanity_group-shot-workers.jpg.rend.hgtvcom.1280.853.suffix/1565625346290.jpeg"
          alt="intern"
          class="mb-3"
          style="width: 100%;"
          >
          <h4 class="title">Government voluntering</h4>
          <p class="description mb-3">Give back to the country, represent the love you want to give</p>
          <button class="btn btn-outline-success mr-1">Learn More</button>
          <button class="btn btn-outline-success">Join Us</button>
        </div>        
      </div>
    </div>
  </div>
</section>
</body>