<body>
  <section id="hero" class="d-flex align-items-center shadow mb-5">
    <div class="container">
      <h1 class="mb-2">Welcome to the <span>Ministry of Nationality, Immigration and Gender Affairs Online Portal</span></h1>
      <h2 class="text-dark">Society related services now digitized</h2>
    </div>
  </section>

  <h1 class="text-center mb-4">Register, Ammend and Assure your Societies Compliance</h1>

  <div class="mb-5" style="margin-left: 10%; margin-right: 10%;">
    <p>The Ministry of Nationality, Immigration and Gender Affairs has recently made certain services regarding societies in the country available online as an initiative to increase service delivery to customers.</p>    
  </div>

  <div class="text-center">
    <div class="bg-primary title-badge mb-3" style="margin-left: 30%; margin-right: 30%;">
      <h4 class="text-light">Services</h4>
    </div>
    
    <h2>Our <span class="text-primary">Services</span></h2>
    <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
  </div>

<section id="featured-services" class="featured-services" style="margin-left: 5%; margin-right: 5%;">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="icon-box aos-init aos-animate mb-3" style="height: 500px;" data-aos="fade-up" data-aos-delay="100">
          <img src="https://firebasestorage.googleapis.com/v0/b/societies-and-security-hack.appspot.com/o/Societies%20Website%20Assets%2FRegister.png?alt=media&token=5ffd0932-ea0e-4a6b-8878-f8f83cceafa1"
          alt="register"
          class="mb-3"
          style="width: 100%;">
          <h4 class="title">Register your society</h4>
          <p class="description mb-3">@Abel add tagline here</p>
          <button class="btn btn-outline-success mr-1">Learn More</button>
          <button class="btn btn-outline-success">Join Us</button>
        </div>
      </div>
      <div class="col">
        <div class="icon-box aos-init aos-animate mb-3" style="height: 500px;" data-aos="fade-up" data-aos-delay="200">
          <img src="https://firebasestorage.googleapis.com/v0/b/societies-and-security-hack.appspot.com/o/Societies%20Website%20Assets%2FAmmendment%202.png?alt=media&token=65d7680a-b824-4fda-858d-a69c117b3e9c"
          alt="Ammendment"
          class="mb-3"
          style="width: 100%;"
          >
          <h4 class="title">Make ammendments to your already existing society</h4>
          <p class="description mb-3">@Abel add tagline here</p>
          <button class="btn btn-outline-success mr-1">Learn More</button>
          <button class="btn btn-outline-success">Join Us</button>
        </div>        
      </div>
      <div class="col">
        <div class="icon-box aos-init aos-animate mb-3" style="height: 500px;" data-aos="fade-up" data-aos-delay="300">
          <img src="https://firebasestorage.googleapis.com/v0/b/societies-and-security-hack.appspot.com/o/Societies%20Website%20Assets%2FHandshake.png?alt=media&token=34d77a96-227a-46a6-9d8b-70457def1009"
          alt="comply"
          class="mb-3"
          style="width: 100%;"
          >
          <h4 class="title">Assure your societies compliance to all mandated obligations</h4>
          <p class="description mb-3">@Abel add tagline here</p>
          <button class="btn btn-outline-success mr-1">Learn More</button>
          <button class="btn btn-outline-success">Join Us</button>
        </div>        
      </div>
    </div>
  </div>
</section>
</body>