<div id="contentToConvert" class="center-div">
    <div class="outer-border">
        <div class="inner-dotted-border"> 
            <span class="certification">Certificate of Registration</span> 
            <br><br> 
            <span class="certify"><i>This is to certify that</i></span> 
            <br><br> <span class="name"><b>{{model.names[0]}}</b></span><br /><br /> 
            <span class="certify"><i>has successfully completed the registration process of</i></span> 
            <br /><br /> <span class="fs-30">Societies</span> <br /><br /> 
            <span class="fs-20">Certificate number <b>CR{{getNumber()}}</b></span> <br /><br /><br /><br /> 
            <span class="certify"><i>dated</i></span><br> <span class="fs-30">{{getDate()}}</span>
        </div>
    </div>
</div>