<div style="height: 100vh; width: 100%; display: table;">
    <div class="center-div">
        <div id="formHolder" class="container">
            <form [formGroup]='nameAuthForm' (ngSubmit)="nameAuthForm.valid && complete()" autocomplete="off">
                <div class="bg-light form-stage shadow-sm" *ngIf="!done1">
                    <div class="progress mt-1 mb-3">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-step shadow-sm"></div>                    
                        </div>
                    </div>
                    <h4 class="font-weight-bold text-center">Lets get your society a name</h4>                    
                    <hr>                                                                     
                    <label>Select your type of society</label>
                    <div class="form-group">
                      <select class="form-control" formControlName="society" [class.is-invalid]='nameAuthForm.get("society").touched && nameAuthForm.get("society").errors'>
                        <option>Community Based Organisations</option>
                        <option>Burial Societies</option>
                        <option>Sporting Clubs</option>
                        <option>Charitable Organisations</option>
                        <option>Professional Organisations</option>
                        <option>Faith Based Organisations</option>
                        <option>Music And Entertainment Organisations</option>
                        <option>Youth, Men and Women Organisations</option>
                        <option>Business Associations</option>
                        <option>Farmers Association</option>
                        <option>Societies And Clubs</option>
                        <option>Associations</option>
                        <option>Cultural Organisations</option>
                        <option>Civil Societies</option>
                        <option>Academic Societies</option>
                        <option>Social Clubs</option>
                        <option>Alumni Societies</option>
                      </select>
                        <div class="invalid-feedback">Please choose a society</div>
                    </div>                    

                    <label>Select a letter of intention to register a society (PDF format)</label>
                    <div class="form-group">
                        <input 
                        class="form-control" 
                        type="file"
                        formControlName="letterIntent" 
                        [class.is-invalid]='nameAuthForm.get("letterIntent").touched && nameAuthForm.get("letterIntent").errors'
                        accept="application/pdf" (change)="onFileChange($event, 'Letter of intention to register a society,')">

                          <div class="invalid-feedback">Please select a pdf file</div>
                      </div>

                    <div class="text-center">
                        <button class="btn btn-primary btn-circle" (click)="done1 = true" [disabled]='nameAuthForm.get("letterIntent").errors || nameAuthForm.get("society").errors'><i class="fa fa-chevron-right" style="padding-left: 2px;"></i></button>
                    </div>
                </div>
                <div class="bg-light form-stage shadow-sm" *ngIf="done1 && !done2">
                    <div class="progress mt-1 mb-3">
                        <div class="progress-bar bg-success animator2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-step shadow-sm animator"></div>                    
                        </div>
                    </div>
                    <h4 class="font-weight-bold text-center">Step 2</h4>                    
                    <hr>                                                                                 
                    <label>Minutes of meeting of formation of the society (PDF Format)</label>
                    <div class="form-group">
                        <input 
                        class="form-control" 
                        type="file"
                        formControlName="minutesMeet" 
                        [class.is-invalid]='nameAuthForm.get("minutesMeet").touched && nameAuthForm.get("minutesMeet").errors'
                        accept="application/pdf" (change)="onFileChange($event, 'Minutes of meeting of formation of the society,')">

                          <div class="invalid-feedback">Please select a pdf file</div>
                      </div>

                    <label>Select a Attendance Register (with full names, identity numbers, contact numbers and signatures) (PDF format)</label>
                    <div class="form-group">
                        <input 
                        class="form-control" 
                        type="file"
                        formControlName="attReg" 
                        [class.is-invalid]='nameAuthForm.get("attReg").touched && nameAuthForm.get("attReg").errors'
                        accept="application/pdf" (change)="onFileChange($event, 'Attendance Register,')">

                          <div class="invalid-feedback">Please select a pdf file</div>
                      </div>

                    <div class="text-center">
                        <button class="btn btn-primary btn-circle" (click)="done2 = true" [disabled]='nameAuthForm.get("minutesMeet").errors || nameAuthForm.get("attReg").errors'><i class="fa fa-chevron-right" style="padding-left: 2px;"></i></button>
                    </div>
                </div>
                <div class="bg-light form-stage shadow-sm" *ngIf="done2 && !done3">
                    <div class="progress mt-1 mb-3">
                        <div class="progress-bar bg-success animator3" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-step shadow-sm animator" style="margin-left: 20%;"></div>                    
                        </div>
                    </div>
                    <h4 class="font-weight-bold text-center">Step 3</h4>                    
                    <hr>                                                                                 
                    <label>Enter upto 10 prospective society names separated by commas(,)</label>
                    <app-text-input [formControl]='nameAuthForm.controls["socName"]' [label]='"name of your society"' [placeholder]='"Society Name 1, Society Name 2, Society Name 3"'></app-text-input>                    
                    <label>Enter three or more objectives for your society (separate with commas(,))</label>
                    <app-text-input [formControl]='nameAuthForm.controls["objectives"]' [label]='"objectives"' [placeholder]='"Objective 1, Objective 2, Objective 3"'></app-text-input>

                    <div class="text-center">
                        <button class="btn btn-primary btn-circle" (click)="done3 = true" [disabled]='nameAuthForm.get("socName").errors || nameAuthForm.get("objectives").errors'><i class="fa fa-chevron-right" style="padding-left: 2px;"></i></button>
                    </div>
                </div>
                <div class="bg-light form-stage shadow-sm" *ngIf="done3 && !done4">
                    <div class="progress mt-1 mb-3">
                        <div class="progress-bar bg-success animator4" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-step shadow-sm animator" style="margin-left: 38%;"></div>                    
                        </div>
                    </div>
                    <h4 class="font-weight-bold text-center">Final Step</h4>                    
                    <hr>                                                                                 
                    <label>Authorization from parent organization (where applicable) (PDF Format)</label>
                    <div class="form-group">
                        <input 
                        class="form-control" 
                        type="file"
                        formControlName="auth" 
                        [class.is-invalid]='nameAuthForm.get("auth").touched && nameAuthForm.get("auth").errors'
                        accept="application/pdf" (change)="onFileChange($event, 'Authorization from parent organization,')">

                          <div class="invalid-feedback">Please select a pdf file</div>
                      </div>
                    <label>Certified copy of constitution of parent organization (where applicable) (PDF format)</label>
                    <div class="form-group">
                        <input 
                        class="form-control" 
                        type="file"
                        formControlName="consti" 
                        [class.is-invalid]='nameAuthForm.get("consti").touched && nameAuthForm.get("consti").errors'
                        accept="application/pdf" (change)="onFileChange($event, 'Certified copy of constitution of parent organization,')">

                          <div class="invalid-feedback">Please select a pdf file</div>
                      </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-circle" (click)="complete()" [disabled]='nameAuthForm.get("auth").errors || nameAuthForm.get("consti").errors'><i class="fa fa-chevron-right" style="padding-left: 2px;"></i></button>
                    </div>
                </div>
                <div class="bg-light form-stage shadow-sm" *ngIf="done4">
                    <div class="progress mt-1 mb-3">
                        <div class="progress-bar bg-success animator5" style="width: 75%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-step shadow-sm animator" style="margin-left: 25%;"></div>                    
                        </div>
                    </div>
                    <h4 class="font-weight-bold text-center">You're all set</h4>
                    <div class="text-center">
                        <button class="btn btn-primary btn-circle" routerLink="/myapplications"><i class="fa fa-chevron-right" style="padding-left: 2px;"></i></button>
                    </div>
                </div>
            </form>

            <ul class="text-danger">
                <li *ngFor="let error of validators">
                    {{error}}
                </li>
            </ul>
        </div>
    </div>
</div>
