<div class="title-block jumbotron shadow-sm">
  <div class="two-colums">
    <div class="container ">
      <h1 class="mb-4">Maintain Society standards</h1>
      <p class="h5 text-muted">
        A society must uphold required standards to be allowed to continue to operate.
        This standards include but are not limited to  <span class="text-dark font-weight-bold">annual finiacial returns report</span>
        and  <span class="text-dark font-weight-bold">AMT & ATF</span> in accordance with the <span class="text-dark font-weight-bold"> Finicial Intelligence act</span>.
        <br />
        Learn more about it below.<br />
        For any queries please contact us at: {{siteTelephone}}
      </p>

    </div>

    <img src="https://firebasestorage.googleapis.com/v0/b/societies-and-security-hack.appspot.com/o/Societies%20Website%20Assets%2FHandshake.png?alt=media&token=34d77a96-227a-46a6-9d8b-70457def1009"
         width="250px" />

  </div>
  
</div>

<div class="container"  style="padding-bottom:100px">
  <h2 class="font-weight-bold">Process Outline</h2>
  <p class="font-weight-bold">The society registration process has two important parts to conform to:</p>
  <ol>
    <li>Adherence to annual returns</li>
    <li>Adherence to Anti-laudering training and audit report</li>
  </ol>

  <h3 class="font-weight-bold">1. Annual Returns</h3>

  <div class="bg-success title-badge mt-4 mb-4">
    <h4 class="text-light">Application for Annual returns</h4>
  </div>

  <p>This will help you get your documents ready to submit to BURS. <br /> <span class="text-dark font-weight-bold">Note:</span>We will not be held liable for any failings of
  the respective responsible individual to properly and punctually file and complete the annual returns process required of you</p>
  <p>The list of requirements for this stage are provided below when you are ready to proceed click
  <button class="btn btn-success text-light ml-3" href="loggedIn()?(hasApplication?'/myapplications/#compliance'||'/Profile/#application')||'/login'">Get Started</button></p>

  <div class="jumbotron">
    <h4>Requirements for all organizations</h4>
    <ul>
      <li>Bank statement for the whole year</li>
      <li>Society unique Certificate number/CR number</li>
    </ul>
  </div>

  <div class="jumbotron">
    <h4>Additional documents for Religious Organizations</h4>
    <ul>
      <li>Release letter from the Spiritual Leader ‘s former Church (PDF format)</li>
    </ul>
  </div>

  <button class="btn btn-success text-light" href="loggedIn()?'/myapplications/#compliance'||'/login'">Get Started</button>

  <h3 class="font-weight-bold mt-3">2. Finicial Intelligence Act</h3>

  <div class="bg-success title-badge mt-4 mb-4">
    <h4 class="text-light">Application for auditing</h4>
  </div>

  <p>From here we can start preparing your AMT documents.</p>
  <p>
    The list of requirements for this stage are provided below.
    <br />
    <button class="btn btn-success text-light mt-2" href="loggedIn()?(hasApplication?'/myapplications/#compliance'||'/Profile/#application')||'/login'" >Get Started</button>
  </p>


</div>
