<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div>
          <strong>Member since:</strong>
          <p>{{user.created | date: 'dd MMM yyyy'}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button (click)="selectTab(1)" class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading="About {{user.knownAs}}">
        <h4>Descriptions</h4>
        <p>{{user.introductions}}</p>
      </tab>
      <tab heading="Constitutions ">
        <h4>Constitutions</h4>
        <p>{{user.Constitutions}}</p>
      </tab>
      <tab heading="Messages">
        <!-- we do our own thing for users so we don't have to add it here-->
        <app-messages ></app-messages>
      </tab>

    </tabset>

  </div>
</div>
